*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{  font-family: 'Ubuntu', Arial, sans-serif; }


a{
  text-decoration: none;
  color: inherit
}

a.active {
  color: steelblue;
  transform: scale(1.2);
  font-weight: bolder;
  border-bottom: 2px solid;
}

.home main{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background: #DDDDDD;
  gap: 20px
  /* border: 1px solid black */

}


/* Nav bar Style */


/* ........................ */


/* Logn Card */

.login-card{
  width: 300px;
  /* display: none; */
  border: 1.5px solid black;
  box-shadow: .4px .6px 5px black;
  border-radius: 10px;
  padding: 20px;
  height:fit-content

}

.login-card h1{
  font-size: 20px;
  margin-bottom: 10px;
}

button{
  cursor: pointer;
}

.login-card button{
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  background-color: #0DA80A;
  color: white;
  font-weight: bolder;
  margin-top: 10px;
}

#second-btn{
  background-color: black;
}

.blog-container{
  flex: 1;
  max-width: 900px;
  height: auto;
  margin: 0px auto;

}

.blog-card{
  height: auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.blog-container .blog-img{
  width: 100%;
  max-height: 400px;
  height: auto;
  overflow: hidden;
  /* border: 2px solid */
}


.blog-container .blog-img img{
  width: 100%;
}

.tags{
    margin-top: 20px;
}

.tags span{
  border: 2px solid #37FF33;
  margin-right: 10px;

  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.poster-img{
  width: 50px;
  height: 50px;
  /* border: 2px solid; */
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.admin {
  width: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin div h3{
  font-size: 15px;
}

.admin div p{
  font-size: 10px;
}
div img{
  width: 100%;
}

.admin .like{
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}


/* Admin Blocks */
.overlay{
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(150, 132, 132, 0.932);
}
.admin-post{
  width: 100%;
  padding: 10px;
  border: 1px solid;

  font-weight: bolder;
  text-align: center;
}

.cancel{
  display: none;
}

.blog-btn{
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  width: 200px;
  font-weight: bolder;
  background: black;
  color: white
}

.blog-prompt h2{
  position: absolute;
  right: 0px;
  top: 0px;

  padding: 20px;
  font-size: 35px;
  cursor: pointer;
}

.blog-prompt form input[type=text],
.blog-prompt form input[type=file],
form textarea{
  border: 1.5px solid black
}
.blog-prompt{
  left: 50%;
  transform: translate(-50%, -20%);
  background:  white;
  position: absolute;
  width: 60vw;
  height: auto;
  padding: 20px;
  /* border: 1px solid; */
  box-shadow: 1px 1px 6px black;
  z-index: 3;
  display: none;
}

@media screen and (max-width: 850px){
  
.login-card{
  position: absolute;
  margin: 30px auto;
  transform: translate(-120%);
 }


 .blog-container{
  flex: 1;
  height: auto;
  margin: 0px auto;

}
}


@media screen and (max-width: 400) {
  .blog-container{
    width: 100%;
   
    height: auto;
    margin-left: 0px;
  
  }

 /* .home main{
    padding: 10px;
} */
}